@import '../../styles/general/globals.scss';

.Primary {
  padding: 8px 16px;
  border-radius: $border-radius-1;
  box-shadow: $box-shadow-1;
  background: $main;
  color: $light;
  font-family: $main-font;
  letter-spacing: 2px;
  font-weight: 400;
  border: 0;
  font-size: 20px;
}

.Secondary {
  padding: 8px 16px;
  background: transparent;
  color: $main;
  font-family: $main-font;
  letter-spacing: 2px;
  font-weight: 400;
  border: 0;
  font-size: 20px;
}
