@import "../../styles/general/globals.scss";

.Step {
    border: 1px solid $main;
    border-radius: $border-radius-1;
    box-shadow: $box-shadow-2;
    font-family: $main-font;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: 6px 10px;
    width: max-content;
    font-size: 20px;
}