@import "../../styles/general/globals.scss";

.Step {
    border: 1px solid $grey;
    border-radius: $border-radius-2;
    box-shadow: $box-shadow-1;
    font-family: $sub-font;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    width: max-content;
    font-size: 20px;
}