@import '../../styles/general/globals.scss';

.Modal {
  padding: 20px;
  box-shadow: $box-shadow-3;
  background: white;
  border-radius: $border-radius-3;
}

.Content {
  border: 0;
  background: transparent;
  background-color: transparent;
}